*{
    background-color: cornflowerblue;
    
}
h2{
    font-size: 40px;
}
.icon{
    position: relative;
    display: inline-block;
}

.icon::after{
    content: 'EN';
    position: absolute;
    top: -10px;
    right: -20px;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    color: white;

}
ul li{
    margin: 10px;
    padding-top: 6px;
    display: inline-block;
}
